<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Digital Bank - 400 Bad Request</title>

	<link type="text/css" rel="stylesheet" th:href="@{/css?family=Montserrat:700,900}" />
	<link type="text/css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
	<link type="text/css" rel="stylesheet" th:href="@{/css/error.css}" />

</head>

<body>

	<div id="notfound">
		<div class="notfound-bg"></div>
		<div class="notfound">
			<div class="notfound-404">
				<h1>400</h1>
			</div>
			<h2>BAD REQUEST</h2>
			<br>
			<h2>We are sorry, but what request sent was incorrect or corrupt.</h2>
			<a th:href="@{/}" class="home-btn">Go Home</a>
			<a href="#" class="contact-btn">Contact us</a>
			<div class="notfound-social">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-pinterest"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
			</div>
		</div>
	</div>

</body>

</html>
