<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-css">
 
   	<title>Digital Bank</title>
   
   
   	<meta charset="utf-8"/>
   	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
   	<meta name="description" content="Digital Bank"/>
   	<meta name="viewport" content="width=device-width, initial-scale=1"/>
   
   	<link rel="apple-touch-icon" th:href="@{/images/apple-icon.png}"/>
   	<link rel="stylesheet" th:href="@{/css/normalize.css}"/>
   	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
   	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
   	<link rel="stylesheet" th:href="@{/css/themify-icons.css}"/>
   	<link rel="stylesheet" th:href="@{/css/flag-icon.min.css}"/>
   	<link rel="stylesheet" th:href="@{/css/cs-skin-elastic.css}"/>
   	<link rel="stylesheet" th:href="@{/scss/style.css}"/>
   	<link rel="stylesheet" th:href="@{/css/google-fonts-opensans.css}" type="text/css"/>
   	<link rel="stylesheet" th:href="@{/css/jquery-ui.css}"/>
   	<link rel="icon" th:href="@{/favicon.ico}">
   	<link rel="shortcut icon" th:href="@{/favicon.ico}">

</head>


<body>

<div th:fragment="footer-scripts">
    <script th:src="@{/js/vendor/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/js/vendor/jquery-1.12.4.js}"></script>
    <script th:src="@{/js/vendor/jquery-ui.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/js/widgets.js}"></script>
    <script th:src="@{/js/lib/chart-js/Chart.bundle.js}"></script>
    <script th:src="@{/js/lib/vector-map/jquery.vmap.js}"></script>
    <script th:src="@{/js/lib/vector-map/jquery.vmap.min.js}"></script>
    <script th:src="@{/js/lib/vector-map/jquery.vmap.sampledata.js}"></script>
    <script th:src="@{/js/lib/vector-map/country/jquery.vmap.world.js}"></script>

    <script>
        ( function ( $ ) {
            "use strict";

            jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } );
        } )( jQuery );
    </script>

</div>

</body>
</html>