<!DOCTYPE html>

<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 

<head th:replace="common/sections :: header-css"/>

<body>


	<!-- Left Panel -->
	<aside th:replace="common/menus :: left-panel"></aside>

    <!-- Right Panel -->
	<div id="right-panel" class="right-panel">
	
		<header th:replace="common/menus :: rp-header"/>
		
		<div th:replace="common/menus :: rp-breadcrumbs"/>
    
    	<!-- Page Content Begin -->
    
	    	<div class="content mt-3">
	            <div class="animated fadeIn">

	            	<div class="row">
                  		<div class="col-lg-12">
                    		<div class="card">
                        		<div class="card-header bg-flat-color-1">
                            		<strong class="text-white card-title">Credit Application Status</strong>
                        		</div>
                        		
                        		<div class="card-body">
	                        		<div class="col-md-12">
				                        <div class="card">
				                            <div class="card-body">
				                                <div class="stat-widget-one">
	
													<div class="row">
                            							<div class="col col-md-3"><label class=" form-control-label"><strong>Application Number:</strong></label></div>
                            							<div class="col-12 col-md-6">
                              								<p class="form-control-static" th:if="${creditAppNumber != null}" th:text="${creditAppNumber}"></p>
                              								<p class="form-control-static" th:unless="${creditAppNumber != null}">Not Assigned</p>
                           								 </div>
                          							</div>
                          							<div class="row">
                            							<div class="col col-md-3"><label class=" form-control-label"><strong>Application Date:</strong></label></div>
                            							<div class="col-12 col-md-6">
                              								<p class="form-control-static" th:text="${#dates.format(creditAppDate, 'yyyy-MM-dd HH:mm')}"></p>
                           								 </div>
                          							</div>
                          							<div class="row" th:if="${creditCreditScore != null}">
                            							<div class="col col-md-3"><label class=" form-control-label"><strong>Credit Score:</strong></label></div>
                            							<div class="col-12 col-md-6">
                              								<p class="form-control-static" th:if="${creditCreditScore != null}" th:text="${creditCreditScore}"></p>
                           								 </div>
                          							</div>
                          							<div class="row" th:if="${creditRiskScore != null}">
                            							<div class="col col-md-3"><label class=" form-control-label"><strong>Risk Score:</strong></label></div>
                            							<div class="col-12 col-md-6">
                              								<p class="form-control-static" th:if="${creditRiskScore != null}" th:text="${creditRiskScore}"></p>
                           								 </div>
                          							</div>
                          							<div class="row">
                            							<div class="col col-md-3"><label class=" form-control-label"><strong>Application Status:</strong></label></div>
                            							<div class="col-12 col-md-6">
                              								<p class="form-control-static" th:text="${creditAppStatusValue}"></p>
                           								 </div>
                          							</div>
                          							<div class="row">
                            							<div class="col col-md-3"><label class=" form-control-label"><strong>Status Detail:</strong></label></div>
                            							<div class="col-12 col-md-6">
                              								<p class="form-control-static" th:text="${creditAppStatusDetail}"></p>
                           								 </div>
                          							</div>                                 		                                      	                                  
				                                </div>
				                            </div>
				                        </div>
				                    </div>

	                     		</div> <!-- End card Body -->
                    		</div> <!-- .card -->
						</div><!--/.col-->
					</div> <!-- End Row -->
                    
                    
                	
	            </div><!-- .animated -->
	        </div><!-- .content -->
	        
	    <!-- Page Content End -->
	    
	</div> <!-- End right panel -->
    
	<!-- Footer -->
	<div th:replace="common/sections :: footer-scripts"></div>

</body>
</html>