<!DOCTYPE html>

<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 

<head th:replace="common/sections :: header-css"/>

<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a th:href=@{/home}>
                        <img class="align-content" th:src="@{/images/logo.png}" alt="">
                    </a>
                </div>
                
                <div class="login-form">
                
           
                <a href="">
                        <img class="align-content" th:src="@{/images/flyer.png}" alt="">
                    </a>
                	
                   
                 
                </div> <!--  End Login Form -->
                
            </div> <!--  End Login Content -->
        </div> <!-- End Container -->
    </div> <!-- End Sufee -->

	<div th:replace="common/sections :: footer-scripts"></div>

</body>
</html>
