<!DOCTYPE html>

<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 

<head th:replace="common/sections :: header-css"/>

<body>


	<!-- Left Panel -->
	<aside th:replace="common/menus :: left-panel"></aside>

    <!-- Right Panel -->
	<div id="right-panel" class="right-panel">
	
		<header th:replace="common/menus :: rp-header"/>
		
		<div th:replace="common/menus :: rp-breadcrumbs"/>
    
    	<!-- Page Content Begin -->
    
	    	<div class="content mt-3">
	            <div class="animated fadeIn">
	                
	              
	               
	            	<div class="row">
                  		<div class="col-lg-12">
                    		<div class="card">
                        		<div class="card-header bg-flat-color-1">
                            		<strong class="text-white card-title">Account Validation</strong>
                        		</div>
                        		<button type="button" onclick="loadDoc()">Check Account Status</button>
                        		
<p id="demo"></p>
                        		
<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML = this.responseText;
    }
  };
  xhttp.open("POST", "https://paymentaccounts76-8080-ns-bzctjenkins.crane.blazemeter.net/visadirect/fundstransfer/v1/pullfundstransactions", true);
  xhttp.send(JSON.stringify({ "idCode": "ABCD1234ABCD123", "terminalId": "ABCD1234" },));
}
</script>
    
                    
                    
                	
	            </div><!-- .animated -->
	        </div><!-- .content -->
	        
	    <!-- Page Content End -->
	    
	</div> <!-- End right panel -->
    
	<!-- Footer -->
	<div th:replace="common/sections :: footer-scripts"></div>

</body>
</html>