<!DOCTYPE html>

<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 

<head th:replace="common/sections :: header-css"/>

<body>


	<!-- Left Panel -->
	<aside th:replace="common/menus :: left-panel"></aside>

    <!-- Right Panel -->
	<div id="right-panel" class="right-panel">
	
		<header th:replace="common/menus :: rp-header"/>
		
		<div th:replace="common/menus :: rp-breadcrumbs (pageTitle='VISA Transfer')"/>
    
    	<!-- Page Content Begin -->
    
	    	<div class="content mt-3">
	            <div class="animated fadeIn">
	                
	            	<div class="row">
                  		<div class="col-lg-12">
                    		<div class="card">
                        		<div class="card-header bg-flat-color-1">
                            		<strong class="card-title text-white">Direct Payment to VISA</strong>
                        		</div>
					
									<form class="visa-form" th:action="@{/external/xfer-visa-process}" method="post">
                             		
                             			<div class="card-body card-block">
                             				<div class="row form-group">
                             					<div class="col col-sm-4">
	                            					<label for="extAccount" class="form-control-label"><strong>VISA Account Number</strong></label> 
                               						<select class="form-control" id="extAccount" name="extAccount">
					                                	<option class="text-light"value="">---------- Select Account -----------</option>
				  										<option value="ABCD1234ABCD123">------ Account Ending in 123  ------</option>
				  										<option value="ABCD1234ABCD456">------ Account Ending in 456  ------</option>
  													</select>
  												</div>
  											</div>
  									
	                               			<div class="row form-group">
		                        				<div class="col col-sm-4">
					                				<label class="form-control-label"><strong>Transfer Amount</strong></label>
					                					<input id="extAmount" name="extAmount" type="text" class="form-control" required th:pattern="${patternTransactionAmount}">
					                					<small class="form-text text-muted">Amount to be transferred to VISA account</small>
					                 			</div>
		                        			</div>
										</div> <!-- End Card Body -->
										<div class="card-footer">
	                     	    			<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Submit to VISA</button>
	                     				</div> <!-- End Card Footer -->	
                            		</form>
                     		
                    		</div> <!-- End Card -->
                 		</div> <!-- End Column-->
                	</div> <!-- End Row -->
                	
	            </div><!-- .animated -->
	        </div><!-- .content -->

	        
	    <!-- Page Content End -->
	    
	</div> <!-- End right panel -->
    
	<!-- Footer -->
	<div th:replace="common/sections :: footer-scripts"></div>

</body>
</html>