<?xml version="1.0" encoding="UTF-8"?>
<AutomationConfiguration>
    <AutomationLayers>
        <AutomationLayer>
            <Guid>283989b932bf4d4494e4b306328c5e80</Guid>
            <Name>UI</Name>
            <Objects>
                <Object>
                    <ObjectType>And</ObjectType>
                    <ObjectActions>
                        <Action guid="1e92632c874d56ca88c43e88eb23f199" ActionName="They Are" CodeSnippet="  And they are ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="bee8c679437709d30fc66cc8dee2c16f" ActionName="They Attempt" CodeSnippet="  And they attempt ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="bd485130ff6c88f81926f6a8f6a09f75" ActionName="They Click" CodeSnippet="  And they click ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="84499cea259658a25f7b74bedcf6f455" ActionName="They Enter" CodeSnippet="  And they enter '~value~' into ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="ba75ff0e4c8be368171f6f83e73c6795" ActionName="They Have" CodeSnippet="  And they have ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="b7320316ecb4c0b4fb983e7fbffa509e" ActionName="They Navigate" CodeSnippet="  And they navigate to ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="14194f988eb8681c738f792abcb858f7" ActionName="They Select" CodeSnippet="  And they select '~value~' from ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="58a22c0d99e15109055b990b770dd62a" ActionName="They Submit Request" CodeSnippet="  And they submit the ~type~ request" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="eb5421eda6d516033b76258c7742629d" ActionName="They Take" CodeSnippet="  And they take ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="5699e6b02b1d1ca18d86a543241f75e9" ActionName="They Verify" CodeSnippet="  And they verify ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="1007b30da201dd4d61f581b907dc9586" ActionName="They Verify They Are" CodeSnippet="  And they verify they are ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Framework</ObjectType>
                    <ObjectActions>
                        <Action guid="a241e7d9843dcdcae4ea7fa18c65e2b2" ActionName="Feature" CodeSnippet="Feature: ##Title[f1]## (UI)&#10;##Description[f3]##&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="7a1d4d77ff74ed9c937291241f322e42" ActionName="Feature Tags" CodeSnippet="@ui ##Cucumber: Feature Tags[f100020]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="9102cc705b77d78bd5671f55e60e6822" ActionName="Scenario" CodeSnippet="Scenario: ##Path Name[p1]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="9f9aeb7b31be130f324381bd7c5239db" ActionName="Scenario Tags" CodeSnippet="##Cucumber: Scenario Tags[p100021]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="fd4b32e208b11a8f227c5fc436a507e5" ActionName="Step Join" CodeSnippet="&#10;" ExcludeJoinBefore="1" ExcludeJoinAfter="1"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Given</ObjectType>
                    <ObjectActions>
                        <Action guid="b70b5a0f99fa66d6edf7410e5b4cc0db" ActionName="Persona Enters" CodeSnippet="  Given ~persona~ enters '~value~' into ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="12292ac65431cb9da75a5421c690b9d7" ActionName="Persona Is" CodeSnippet="  Given ~persona~ is ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Target</ObjectType>
                    <ObjectActions>
                        <Action guid="602cbb1c36795dc96e90280cc3bd203a" ActionName="Account Balance" CodeSnippet="account balance should be '~balance~'" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="51208cac6d7a8a3e7a94f8c45588bc90" ActionName="Account Credentials Expired" CodeSnippet="an account with expired credentials" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="2ab6fe2e0dc00939927eadb2a5eacfd0" ActionName="Account Disabled" CodeSnippet="a disabled account" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="4375872baec1524f5da5ce403a3de160" ActionName="Account Expired" CodeSnippet="an expired account" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="32d7c20ab906edeb33c3d3147c1788b9" ActionName="Account Locked" CodeSnippet="a locked account" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="81523455c51733a4ad4e4597f4e13e63" ActionName="Account Not Created" CodeSnippet="the account coould not be created" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="b76f47a24a6cdbe1229f9b4029427ae6" ActionName="At the Page" CodeSnippet="at the ~page~ page" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="4da6825ac16d4d4b4a5e5da98394b5b9" ActionName="Button" CodeSnippet="the ~button~ button" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="9a8f6df5c1b1f22a8df20338bb7d7656" ActionName="Checkbox" CodeSnippet="the ~checkbox~ checkbox" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="5681711bb2c1712654f5167717564543" ActionName="Column" CodeSnippet="the ~column~ column" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="e92535241c0542a646dd1dec22b7aa19" ActionName="Details from Block Description" CodeSnippet="##Block Description[b1]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="cce411978815de44cc23710071180e20" ActionName="Field Contains Value" CodeSnippet="~field~ contains ~value~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="9644ad0e5d69ac766d4fc86a8ef1f80f" ActionName="Input Field" CodeSnippet="the ~inputField~ field" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="a0dd52ef347844b5a1c88c64c0d9e030" ActionName="Is Not Present" CodeSnippet="the ~value~ is not present" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="90f9b8b284cc3e89f0282594b0396f49" ActionName="Is Present" CodeSnippet="the ~value~ is present" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="e13e35f1c5dbe369d3f53983f499fc93" ActionName="Key" CodeSnippet="the ~key~ key" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="182663238f3eeadfd1982299d6710fc6" ActionName="Logged In" CodeSnippet="logged into the application with ~email address~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="9f27b9cf4b4cac5172a9786e0e69214a" ActionName="Menu" CodeSnippet="the ~menu~ menu" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="edd9b05e709fb0682f80c169e3c8c986" ActionName="Menu Option" CodeSnippet="the ~menu~ menu option" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="9a96ee58a6bd9e8c7fd57703fd276f23" ActionName="New Customer" CodeSnippet="a new customer" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="2e04bd45460fbe35ea0f02e5c41eac99" ActionName="Page" CodeSnippet="the ~page~ page" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="029db5bce72d990ae9970875d1f5e750" ActionName="Partial Text" CodeSnippet="partial text as '~value~'" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="cec75c07f17fc655f2f5f33b9b64a8e0" ActionName="Presented" CodeSnippet="presented with a ~value~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="d81b2ccc0d9dcdbca0c14aa19ad277c1" ActionName="Radio Button" CodeSnippet="the ~radioButton~ radio button" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="ca009d8492fe07b87872764d46b9dd7a" ActionName="Registered User" CodeSnippet="a registered user with email address ~email address~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="0b1035b7180b1bb0d4822d9938af3174" ActionName="Screenshot" CodeSnippet="screenshot" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="24c18ecc086c715e5b77aa1bd81d1c47" ActionName="Table" CodeSnippet="to table with title '~title~'" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="ab9cf05df989920866daa24bbc8a146b" ActionName="To Open a New" CodeSnippet="to open a new '~name~'" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Then</ObjectType>
                    <ObjectActions>
                        <Action guid="a9905bbede062284649ac8ca256511a5" ActionName="Persona Verifies" CodeSnippet="  Then ~persona~ verifies ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="2fc9359fa367a1644906f507bad325bb" ActionName="Persona Verifies They Are" CodeSnippet="  Then ~persona~ verifies they are ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>When</ObjectType>
                    <ObjectActions>
                        <Action guid="b01f1b29d9e377d453911d26fa34df52" ActionName="Persona Clicks" CodeSnippet="  When ~persona~ clicks ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="cc3df6d2291ece647abe0707a73986e3" ActionName="Persona Enters" CodeSnippet="  When ~persona~ enters '~value~' into ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="bfed817ee47e6798cba2d61011a5b24c" ActionName="Persona Navigates" CodeSnippet="  When ~persona~ navigates to ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="f1c745959f99dac9900411c7c022fee6" ActionName="Persona Selects" CodeSnippet="  When ~persona~ selects '~value~' from ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
            </Objects>
            <PreviewDetails>
                <RunFileLocation></RunFileLocation>
                <EditLanguage>3</EditLanguage>
                <EditTheme>6</EditTheme>
                <EditorType>0</EditorType>
                <FromFileStructure>False</FromFileStructure>
                <MapFromBlockAttributes/>
            </PreviewDetails>
            <ExportSettings>
                <ScriptType>0</ScriptType>
                <FileConfiguration>43</FileConfiguration>
                <UTFByteOrderMark>0</UTFByteOrderMark>
                <ScriptTypeSettings scriptType="0">
                    <IndividualSettings fileExtension="" fileNameVariable="" fileNamingSystem="3" filePrefix=""/>
                    <MergedSettings fileExtension="feature" fileNameVariable="" fileNamingSystem="2" filePrefix=""/>
                </ScriptTypeSettings>
                <PreviewHeaderFooter Legacy="For forwards compatibility with ARD2.7 and older">
                    <Header>
                        <Automation SectionsEnabled="true" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                            <ObjectName></ObjectName>
                            <LayerId>283989b932bf4d4494e4b306328c5e80</LayerId>
                            <ObjectType>Framework</ObjectType>
                            <ActionName>Feature Tags</ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Header>
                    <Footer>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Footer>
                    <Join>
                        <Automation SectionsEnabled="true" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                            <ObjectName></ObjectName>
                            <LayerId>283989b932bf4d4494e4b306328c5e80</LayerId>
                            <ObjectType>Framework</ObjectType>
                            <ActionName>Step Join</ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Join>
                    <BlockHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </BlockHeader>
                    <BlockFooter/>
                    <StepJoin>
                        <Automation SectionsEnabled="true" linkedSections="e71d7c88df6944888a4e2c08a01fba9e;Given">
                            <ObjectName></ObjectName>
                            <LayerId>283989b932bf4d4494e4b306328c5e80</LayerId>
                            <ObjectType>Framework</ObjectType>
                            <ActionName>Step Join</ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </StepJoin>
                    <PathHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathHeader>
                    <PathFooter>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathFooter>
                </PreviewHeaderFooter>
                <ContainerData guid="28d08801f19d45beb67dac1d563b52f2" xmlVersion="1.0" overrideSectionStepJoin="1">
                    <FlowHeader>
                        <AutomationStep guid="e6ad2477999a4fe7a616f4b070e004db" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Feature Tags" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                            <Repeater guid="1d29f2b2141a40299fca1a336e64b2a3" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                        <AutomationStep guid="0a56c5449a5740c5927c865fb042e669" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                            <Repeater guid="35e795178d0b403cac6a96b1b921e4e0" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                        <AutomationStep guid="a5459c59d89b4f03843a1338efc081f2" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Feature" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="e71d7c88df6944888a4e2c08a01fba9e;Given">
                            <Repeater guid="b7a22fe0cd42477e955f2487d1bee290" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                        <AutomationStep guid="b3517d984a8b4e098c8f9aafdadc6455" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                            <Repeater guid="260f50f1cc3f4976817dae8cb7596aaa" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </FlowHeader>
                    <FlowFooter/>
                    <BlockFooter/>
                    <BlockHeader/>
                    <PathHeader/>
                    <PathFooter/>
                    <PathJoin>
                        <AutomationStep guid="ac84c606319046f8a94a3e993974d900" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                            <Repeater guid="05a8a51e8c024926b19059d5a14570a8" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </PathJoin>
                    <StepJoin>
                        <AutomationStep guid="be2e885467a54ac8b9e16a559666b9c0" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="e71d7c88df6944888a4e2c08a01fba9e;Given">
                            <Repeater guid="76262d873d5240e482c4ed15c1ef2181" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </StepJoin>
                </ContainerData>
                <AutomationSectionModel guid="b3ddaa2104289d991083bb54d21af7b8" xmlVersion="1.0">
                    <AutomationSectionModelItem guid="483b791da47abe418cbd4535aa01232e" xmlVersion="1.0">
                        <AutomationSection guid="eee420ba735845659e164b1cae3ea182" xmlVersion="1.0" name="HiddenRoot" description="" defaultSelected="0" referencedRedundantSections="">
                            <Steps>
                                <InsertedSteps/>
                                <SectionHeader/>
                                <SectionFooter/>
                                <SectionJoin/>
                                <StepHeader/>
                                <StepFooter/>
                                <StepJoin/>
                            </Steps>
                        </AutomationSection>
                        <ChildItems>
                            <AutomationSectionModelItem guid="e7fd18df5feac66194b4378c70562f75" xmlVersion="1.0">
                                <AutomationSection guid="00000000000000000000000000000000" xmlVersion="1.0" name="Scenario" description="Scenario To Test" defaultSelected="0" referencedRedundantSections="4346d62b120444ca8d4f3758f5f33faf;When,4e4386b68ca44045aee10ce1dcf0b0f8;Given And,95abb97d5400496480e2e6309085e4f8;Spacing">
                                    <Steps>
                                        <InsertedSteps/>
                                        <SectionHeader>
                                            <AutomationStep guid="95187edc637842fcae2bf448e29f5eb1" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                <Repeater guid="943d284d8a7b42ea861cb834b955756c" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                            <AutomationStep guid="86098bc9e4a542c4b5d4a51f7fd1e94f" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Scenario Tags" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                <Repeater guid="8c74ef0b4a87417290b45ad89b8f7cea" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                            <AutomationStep guid="fc9e8851e3344200b6ce5a362a4d1d66" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Scenario" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="e71d7c88df6944888a4e2c08a01fba9e;Given">
                                                <Repeater guid="9f312ccaeee1440192a81f86af56fa7e" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                        </SectionHeader>
                                        <SectionFooter/>
                                        <SectionJoin/>
                                        <StepHeader/>
                                        <StepFooter/>
                                        <StepJoin/>
                                    </Steps>
                                </AutomationSection>
                                <ChildItems>
                                    <AutomationSectionModelItem guid="c5c3bb2566f491151789e6aca27d9cf0" xmlVersion="1.0">
                                        <AutomationSection guid="e71d7c88df6944888a4e2c08a01fba9e" xmlVersion="1.0" name="Given" description="Given Criteria" defaultSelected="0" referencedRedundantSections="">
                                            <Steps>
                                                <InsertedSteps/>
                                                <SectionHeader/>
                                                <SectionFooter/>
                                                <SectionJoin/>
                                                <StepHeader/>
                                                <StepFooter/>
                                                <StepJoin>
                                                    <AutomationStep guid="ca9995bed1974e4bbf8c83f1db8dee34" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="9b00cdf91b1a4c2c837f056d5bffddb8" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </StepJoin>
                                            </Steps>
                                        </AutomationSection>
                                        <ChildItems>
                                            <AutomationSectionModelItem guid="480ff16711d1a171eab539679fc5ac40" xmlVersion="1.0">
                                                <AutomationSection guid="85a0c20df2dd454797ba358288eeb98c" xmlVersion="1.0" name="And (Given)" description="And Section for Given" defaultSelected="0" referencedRedundantSections="">
                                                    <Steps>
                                                        <InsertedSteps/>
                                                        <SectionHeader/>
                                                        <SectionFooter/>
                                                        <SectionJoin/>
                                                        <StepHeader/>
                                                        <StepFooter/>
                                                        <StepJoin>
                                                            <AutomationStep guid="2ef91b60d12b4e60b320aa83cdbb4a0b" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                                <Repeater guid="afe1bcece4be4d74aac08dc6e366cbd6" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </StepJoin>
                                                    </Steps>
                                                </AutomationSection>
                                                <ChildItems/>
                                            </AutomationSectionModelItem>
                                        </ChildItems>
                                    </AutomationSectionModelItem>
                                    <AutomationSectionModelItem guid="e564b2ab8789ce801b6d4b588c2c0d77" xmlVersion="1.0">
                                        <AutomationSection guid="25ffb4fa9b57471088e236d0dd457688" xmlVersion="1.0" name="When" description="When Actions Occur" defaultSelected="0" referencedRedundantSections="">
                                            <Steps>
                                                <InsertedSteps/>
                                                <SectionHeader>
                                                    <AutomationStep guid="f2ba3d36786f4ccfab002f60e9e59205" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="1548ddfd049e45238c75a12d3d00a86d" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </SectionHeader>
                                                <SectionFooter/>
                                                <SectionJoin/>
                                                <StepHeader/>
                                                <StepFooter/>
                                                <StepJoin>
                                                    <AutomationStep guid="7ab33ef83ae24c9493b041780d8f2161" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="e0fc05af04364d9391b93f0568f61524" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </StepJoin>
                                            </Steps>
                                        </AutomationSection>
                                        <ChildItems>
                                            <AutomationSectionModelItem guid="ad0ef1dc679eff6ec69f0fa3930c07c2" xmlVersion="1.0">
                                                <AutomationSection guid="381f8c670f1240ed9a98d46d895c4187" xmlVersion="1.0" name="And (When)" description="And Section for When" defaultSelected="1" referencedRedundantSections="">
                                                    <Steps>
                                                        <InsertedSteps/>
                                                        <SectionHeader/>
                                                        <SectionFooter/>
                                                        <SectionJoin/>
                                                        <StepHeader/>
                                                        <StepFooter/>
                                                        <StepJoin>
                                                            <AutomationStep guid="9f225d25603b4fad8701b903bfaa8cfe" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                                <Repeater guid="9f8b43ca0eb4485687b830f2988b16cc" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </StepJoin>
                                                    </Steps>
                                                </AutomationSection>
                                                <ChildItems/>
                                            </AutomationSectionModelItem>
                                        </ChildItems>
                                    </AutomationSectionModelItem>
                                    <AutomationSectionModelItem guid="14a988ebb1961c5204a13ca3c8f7ac13" xmlVersion="1.0">
                                        <AutomationSection guid="c40058ac474e4370a5c9a5e481dc8441" xmlVersion="1.0" name="Then" description="Then Results Expected" defaultSelected="0" referencedRedundantSections="">
                                            <Steps>
                                                <InsertedSteps/>
                                                <SectionHeader>
                                                    <AutomationStep guid="789e6e4f1385424bb27f3aea39df7689" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="8a952dbc76694c65bb9780cc3347d371" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </SectionHeader>
                                                <SectionFooter/>
                                                <SectionJoin/>
                                                <StepHeader/>
                                                <StepFooter/>
                                                <StepJoin>
                                                    <AutomationStep guid="fcd7ac5ed91e4507bf53e3f578b8b8e8" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="29819c1cb8494ce594e9591b3a556f3b" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </StepJoin>
                                            </Steps>
                                        </AutomationSection>
                                        <ChildItems>
                                            <AutomationSectionModelItem guid="88e6316bd6d54d267c76795d04e2a744" xmlVersion="1.0">
                                                <AutomationSection guid="e28b1755453d4565bed87ebf283cf543" xmlVersion="1.0" name="And (Then)" description="And Section for Then" defaultSelected="0" referencedRedundantSections="">
                                                    <Steps>
                                                        <InsertedSteps/>
                                                        <SectionHeader/>
                                                        <SectionFooter/>
                                                        <SectionJoin/>
                                                        <StepHeader/>
                                                        <StepFooter/>
                                                        <StepJoin>
                                                            <AutomationStep guid="9c971758b3ee4b30a1228e2349957353" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                                <Repeater guid="e4d94ab35c184cd78b6f5210bd738ef9" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </StepJoin>
                                                    </Steps>
                                                </AutomationSection>
                                                <ChildItems/>
                                            </AutomationSectionModelItem>
                                        </ChildItems>
                                    </AutomationSectionModelItem>
                                </ChildItems>
                            </AutomationSectionModelItem>
                        </ChildItems>
                    </AutomationSectionModelItem>
                </AutomationSectionModel>
            </ExportSettings>
            <LayerVariables/>
        </AutomationLayer>
    </AutomationLayers>
</AutomationConfiguration>
