<?xml version="1.0" encoding="UTF-8"?>
<AutomationConfiguration>
    <AutomationLayers>
        <AutomationLayer>
            <Guid>226c09a69bd84b409a2ffa434e741bd8</Guid>
            <Name>API</Name>
            <Objects>
                <Object>
                    <ObjectType>And</ObjectType>
                    <ObjectActions>
                        <Action guid="11960cb83e5b7fdee7086b9aca24d7ab" ActionName="They populate request" CodeSnippet="  And they populate the ~requestName~ request with ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="d779bee655168f83bb3dccfeb8726ed7" ActionName="They submit request" CodeSnippet="  And they submit the ~requestName~ request" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="4c926013bda93fe963eb61a52becdbf8" ActionName="They Verify They Are" CodeSnippet="  And they verify they are ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Framework</ObjectType>
                    <ObjectActions>
                        <Action guid="4283c3977f568795b9a366cad01266f7" ActionName="Feature" CodeSnippet="Feature: ##Title[f1]## (API)&#10;##Description[f3]##&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="c35b74efc97f1deb49cdc65802cd75c4" ActionName="Feature Tags" CodeSnippet="@api ##Cucumber: Feature Tags[f100020]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="04593545646f55e2cc517a18c8a47986" ActionName="Scenario" CodeSnippet="Scenario: ##Path Name[p1]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="6a146e21e8bfa701b9e5d9b29b0fcbb4" ActionName="Scenario Tags" CodeSnippet="##Cucumber: Scenario Tags[p100021]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="8005961cbce6abe199e37d9ff39402c7" ActionName="Step Join" CodeSnippet="&#10;" ExcludeJoinBefore="1" ExcludeJoinAfter="1"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Given</ObjectType>
                    <ObjectActions>
                        <Action guid="c8a5070c38ba7871325c8f2072e213b9" ActionName="Persona is" CodeSnippet="  Given ~persona~ is ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Target</ObjectType>
                    <ObjectActions>
                        <Action guid="db1b771607fbcdb286a991e9349cbb3d" ActionName="Authenticated" CodeSnippet="authenticated into the API with email ~email address~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="e3ae27a0e8ee625bac8d00baec12c85d" ActionName="Data containing" CodeSnippet="~variable~ equal to '~value~'" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="a977e64819a9a894a5dba2cc29b4cb61" ActionName="Presented" CodeSnippet="presented with a ~value~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="97fc2d7714b30906292b10a983e92bd2" ActionName="Return code" CodeSnippet="the return code is '~value~'" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Then</ObjectType>
                    <ObjectActions>
                        <Action guid="063f135883f6276261bd30b26d2c16f9" ActionName="Persona verifies" CodeSnippet="  Then ~persona~ verifies ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>When</ObjectType>
                    <ObjectActions>
                        <Action guid="314819713585dd6f74255ff49abd77c0" ActionName="Persona populates request" CodeSnippet="  When ~persona~ populates the ~requestName~ request with ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
            </Objects>
            <PreviewDetails>
                <RunFileLocation></RunFileLocation>
                <EditLanguage>3</EditLanguage>
                <EditTheme>6</EditTheme>
                <EditorType>0</EditorType>
                <FromFileStructure>False</FromFileStructure>
                <MapFromBlockAttributes/>
            </PreviewDetails>
            <ExportSettings>
                <ScriptType>0</ScriptType>
                <FileConfiguration>43</FileConfiguration>
                <UTFByteOrderMark>0</UTFByteOrderMark>
                <ScriptTypeSettings scriptType="0">
                    <IndividualSettings fileExtension="" fileNameVariable="" fileNamingSystem="3" filePrefix=""/>
                    <MergedSettings fileExtension="feature" fileNameVariable="" fileNamingSystem="2" filePrefix=""/>
                </ScriptTypeSettings>
                <PreviewHeaderFooter Legacy="For forwards compatibility with ARD2.7 and older">
                    <Header>
                        <Automation SectionsEnabled="true" linkedSections="00000000000000000000000000000000;Scenario">
                            <ObjectName></ObjectName>
                            <LayerId>226c09a69bd84b409a2ffa434e741bd8</LayerId>
                            <ObjectType>Framework</ObjectType>
                            <ActionName>Feature Tags</ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Header>
                    <Footer>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Footer>
                    <Join>
                        <Automation SectionsEnabled="true" linkedSections="00000000000000000000000000000000;Scenario">
                            <ObjectName></ObjectName>
                            <LayerId>226c09a69bd84b409a2ffa434e741bd8</LayerId>
                            <ObjectType>Framework</ObjectType>
                            <ActionName>Step Join</ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Join>
                    <BlockHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </BlockHeader>
                    <BlockFooter/>
                    <StepJoin>
                        <Automation SectionsEnabled="true" linkedSections="00000000000000000000000000000000;Scenario">
                            <ObjectName></ObjectName>
                            <LayerId>226c09a69bd84b409a2ffa434e741bd8</LayerId>
                            <ObjectType>Framework</ObjectType>
                            <ActionName>Step Join</ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </StepJoin>
                    <PathHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathHeader>
                    <PathFooter>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathFooter>
                </PreviewHeaderFooter>
                <ContainerData guid="18edce5631934dbeb58062e5b0899781" xmlVersion="1.0" overrideSectionStepJoin="1">
                    <FlowHeader>
                        <AutomationStep guid="7b11dad75da14b998c212efb098d60c3" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Feature Tags" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Scenario">
                            <Repeater guid="989cd470b5c1421093a121612faf6a1a" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                        <AutomationStep guid="176bed62787347f28419e9bad40d13e6" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Scenario">
                            <Repeater guid="66dabf2115d34e70b50d75bd6f4ec16e" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                        <AutomationStep guid="b54c7f2efb714fb68699cca56366345d" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Feature" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Scenario">
                            <Repeater guid="4483673d22c440259d8f10341e7a9cba" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                        <AutomationStep guid="7868a64d2ece4ee9ad9ac26f71cb24fd" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="c86934f77c8d4aca978bc794c545e3bc;And (When(">
                            <Repeater guid="4dc1fc82dc9144668aee42673a23b292" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </FlowHeader>
                    <FlowFooter/>
                    <BlockFooter/>
                    <BlockHeader/>
                    <PathHeader/>
                    <PathFooter/>
                    <PathJoin>
                        <AutomationStep guid="5dacf86b53494f93a9c531e66e57e119" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Scenario">
                            <Repeater guid="fed6bcbe794143bcbb247fda47b440c6" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </PathJoin>
                    <StepJoin>
                        <AutomationStep guid="1ad5c0d39aab4e01923aca0fe57c31a5" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Scenario">
                            <Repeater guid="aa48066e4b5447f4a5d4147e3dd5fb3f" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </StepJoin>
                </ContainerData>
                <AutomationSectionModel guid="a39af849fa42ad1c5fc71300aea011a6" xmlVersion="1.0">
                    <AutomationSectionModelItem guid="c897c2d3f3c986eec75ad013c2feb623" xmlVersion="1.0">
                        <AutomationSection guid="f072b09da7e04997b4279618cc181ccc" xmlVersion="1.0" name="HiddenRoot" description="" defaultSelected="0" referencedRedundantSections="">
                            <Steps>
                                <InsertedSteps/>
                                <SectionHeader/>
                                <SectionFooter/>
                                <SectionJoin/>
                                <StepHeader/>
                                <StepFooter/>
                                <StepJoin/>
                            </Steps>
                        </AutomationSection>
                        <ChildItems>
                            <AutomationSectionModelItem guid="1f517630064e1f635feb2611c8ed82fb" xmlVersion="1.0">
                                <AutomationSection guid="00000000000000000000000000000000" xmlVersion="1.0" name="Scenario" description="Scenario To Test" defaultSelected="0" referencedRedundantSections="">
                                    <Steps>
                                        <InsertedSteps/>
                                        <SectionHeader>
                                            <AutomationStep guid="ef7d13c54d5c469babcf0c1239a7b645" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Scenario">
                                                <Repeater guid="7e06df012e9a4629a992ede3bb3e7371" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                            <AutomationStep guid="00f8abb1c34f45c9bbc147492d31ff3f" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Scenario Tags" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Scenario">
                                                <Repeater guid="5b08de51713e4a649937436f9c60c03c" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                            <AutomationStep guid="2a15a43463164b89a45d2778fc7b16e0" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Scenario" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Scenario">
                                                <Repeater guid="81904b482b3f4deb91d0faa8f8876750" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                        </SectionHeader>
                                        <SectionFooter/>
                                        <SectionJoin/>
                                        <StepHeader/>
                                        <StepFooter/>
                                        <StepJoin/>
                                    </Steps>
                                </AutomationSection>
                                <ChildItems>
                                    <AutomationSectionModelItem guid="ec07c51424db1ba5dca1678ca21f8e59" xmlVersion="1.0">
                                        <AutomationSection guid="aee24079759b4038a649527aac6e2110" xmlVersion="1.0" name="Given" description="Given Criteria" defaultSelected="0" referencedRedundantSections="">
                                            <Steps>
                                                <InsertedSteps/>
                                                <SectionHeader>
                                                    <AutomationStep guid="30d862c4787281a50657127da6ecdcec" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="c86934f77c8d4aca978bc794c545e3bc;And (When(">
                                                        <Repeater guid="efa4b24e35b90c2efa22c22fec75ead1" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </SectionHeader>
                                                <SectionFooter/>
                                                <SectionJoin/>
                                                <StepHeader/>
                                                <StepFooter/>
                                                <StepJoin>
                                                    <AutomationStep guid="ae4719501bb44cddabaab76321dab5da" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="c86934f77c8d4aca978bc794c545e3bc;And (When(">
                                                        <Repeater guid="d9b9f9458a1f456dba5438c2e58e43d4" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </StepJoin>
                                            </Steps>
                                        </AutomationSection>
                                        <ChildItems>
                                            <AutomationSectionModelItem guid="94a547e964f066c936ee2c91b8266102" xmlVersion="1.0">
                                                <AutomationSection guid="91831a4e634e4b80bdb3b42d5ca45c5d" xmlVersion="1.0" name="And (Given)" description="And Section for Given" defaultSelected="0" referencedRedundantSections="">
                                                    <Steps>
                                                        <InsertedSteps/>
                                                        <SectionHeader/>
                                                        <SectionFooter/>
                                                        <SectionJoin/>
                                                        <StepHeader/>
                                                        <StepFooter/>
                                                        <StepJoin>
                                                            <AutomationStep guid="70a982fdaf5643c29b9cf97fa886f084" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="c86934f77c8d4aca978bc794c545e3bc;And (When(">
                                                                <Repeater guid="e06b4a8a016045d58475baa34c412e02" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </StepJoin>
                                                    </Steps>
                                                </AutomationSection>
                                                <ChildItems/>
                                            </AutomationSectionModelItem>
                                        </ChildItems>
                                    </AutomationSectionModelItem>
                                    <AutomationSectionModelItem guid="5ac8d633a1a9ce729dc0ff4cebc2404f" xmlVersion="1.0">
                                        <AutomationSection guid="ea1b6c0456de47a69074f5cb908d71d3" xmlVersion="1.0" name="When" description="When Actions Occur" defaultSelected="0" referencedRedundantSections="">
                                            <Steps>
                                                <InsertedSteps/>
                                                <SectionHeader>
                                                    <AutomationStep guid="d7f79dd92d854fe890ee32bc7cda6d87" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="c86934f77c8d4aca978bc794c545e3bc;And (When(">
                                                        <Repeater guid="eba702633d324010a515b6130c70223c" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </SectionHeader>
                                                <SectionFooter/>
                                                <SectionJoin/>
                                                <StepHeader/>
                                                <StepFooter/>
                                                <StepJoin>
                                                    <AutomationStep guid="e3bd324c462545349663a6b412b20de5" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="c86934f77c8d4aca978bc794c545e3bc;And (When(">
                                                        <Repeater guid="8abe70b76dfe43c3a0e11ed4dcf54a58" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </StepJoin>
                                            </Steps>
                                        </AutomationSection>
                                        <ChildItems>
                                            <AutomationSectionModelItem guid="3c707112fbd732b10026ee7b1af33c12" xmlVersion="1.0">
                                                <AutomationSection guid="c86934f77c8d4aca978bc794c545e3bc" xmlVersion="1.0" name="And (When(" description="And Section for When" defaultSelected="1" referencedRedundantSections="">
                                                    <Steps>
                                                        <InsertedSteps/>
                                                        <SectionHeader>
                                                            <AutomationStep guid="66dd1f6d847b9e676227e95bce85e8c8" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="c86934f77c8d4aca978bc794c545e3bc;And (When(">
                                                                <Repeater guid="cbca966f8930a8d63130461a8f3e29cc" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </SectionHeader>
                                                        <SectionFooter/>
                                                        <SectionJoin/>
                                                        <StepHeader/>
                                                        <StepFooter/>
                                                        <StepJoin>
                                                            <AutomationStep guid="09f7199dc8124b5b879d6aec6f53522d" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="c86934f77c8d4aca978bc794c545e3bc;And (When(">
                                                                <Repeater guid="eb49cfbf175f488ab7b4364d78cb0351" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </StepJoin>
                                                    </Steps>
                                                </AutomationSection>
                                                <ChildItems/>
                                            </AutomationSectionModelItem>
                                        </ChildItems>
                                    </AutomationSectionModelItem>
                                    <AutomationSectionModelItem guid="1bcd2a9662aac4849122db4067b9367a" xmlVersion="1.0">
                                        <AutomationSection guid="cf40dd6f7d3a404ab261e439e59b1c99" xmlVersion="1.0" name="Then" description="Then Results Expected" defaultSelected="0" referencedRedundantSections="">
                                            <Steps>
                                                <InsertedSteps/>
                                                <SectionHeader>
                                                    <AutomationStep guid="de537692dd6a4df5ab7c6c3eed249383" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="c86934f77c8d4aca978bc794c545e3bc;And (When(">
                                                        <Repeater guid="513febcaff67464fb9a29f67621bc15a" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </SectionHeader>
                                                <SectionFooter/>
                                                <SectionJoin/>
                                                <StepHeader/>
                                                <StepFooter/>
                                                <StepJoin>
                                                    <AutomationStep guid="2a0560ad46064652ab91227b535f8198" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="c86934f77c8d4aca978bc794c545e3bc;And (When(">
                                                        <Repeater guid="2e75b2ab2a334bb1903d8f2a41a94d6d" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </StepJoin>
                                            </Steps>
                                        </AutomationSection>
                                        <ChildItems>
                                            <AutomationSectionModelItem guid="079fe09fd60353ec2fa2d499b1045c67" xmlVersion="1.0">
                                                <AutomationSection guid="a035a39a69dd4d5db1d85a142bfdeb44" xmlVersion="1.0" name="And (Then)" description="And Section for Then" defaultSelected="0" referencedRedundantSections="">
                                                    <Steps>
                                                        <InsertedSteps/>
                                                        <SectionHeader>
                                                            <AutomationStep guid="50f064532bf9d788257e75e4fb031548" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="c86934f77c8d4aca978bc794c545e3bc;And (When(">
                                                                <Repeater guid="3770abe45435e69f3482e19e750d7291" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </SectionHeader>
                                                        <SectionFooter/>
                                                        <SectionJoin/>
                                                        <StepHeader/>
                                                        <StepFooter/>
                                                        <StepJoin>
                                                            <AutomationStep guid="0962bc76cf2e49fba6012e8ab07d3ccf" xmlVersion="1.0" objectName="" layerId="226c09a69bd84b409a2ffa434e741bd8" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="c86934f77c8d4aca978bc794c545e3bc;And (When(">
                                                                <Repeater guid="a84ce9d116524bdbb8d640731cd82b3a" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </StepJoin>
                                                    </Steps>
                                                </AutomationSection>
                                                <ChildItems/>
                                            </AutomationSectionModelItem>
                                        </ChildItems>
                                    </AutomationSectionModelItem>
                                </ChildItems>
                            </AutomationSectionModelItem>
                        </ChildItems>
                    </AutomationSectionModelItem>
                </AutomationSectionModel>
            </ExportSettings>
            <LayerVariables/>
        </AutomationLayer>
    </AutomationLayers>
</AutomationConfiguration>
