<?xml version="1.0" encoding="UTF-8"?>
<AutomationConfiguration>
    <AutomationLayers>
        <AutomationLayer>
            <Guid>283989b932bf4d4494e4b306328c5e80</Guid>
            <Name>UI</Name>
            <Objects>
                <Object>
                    <ObjectType>And</ObjectType>
                    <ObjectActions>
                        <Action guid="bf8169e122ac4fa8e86d7c3ba37124eb" ActionName="They Are" CodeSnippet="  And they are ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="49dcd05de2a45958ee6391eaedcaea73" ActionName="They Click" CodeSnippet="  And they click ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="c5b9dd78bf6805d11a51818b7723a508" ActionName="They Enter" CodeSnippet="  And they enter '~value~' into ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="cbc0daca2070d99cf49cb499d8e4be22" ActionName="They Have" CodeSnippet="  And they have ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="b36a5dbcad255f2004bfb29a9ab7bb4a" ActionName="They Navigate" CodeSnippet="  And they navigate to ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="152fd0d6be2efe16d230e40614011508" ActionName="They Select" CodeSnippet="  And they select '~value~' from ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="6986eaa0dbd53ec6d797e0570e4d55c3" ActionName="They Submit Request" CodeSnippet="  And they submit the ~type~ request" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="38f803a09cdf97b7994d3f22b1010124" ActionName="They Take" CodeSnippet="  And they take ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="f81c93516986a18171da3ad1c3c59283" ActionName="They Verify" CodeSnippet="  And they verify ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="224b3229da72d4ad18d587fcad028176" ActionName="They Verify They Are" CodeSnippet="  And they verify they are ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Framework</ObjectType>
                    <ObjectActions>
                        <Action guid="f5097d606907b5ba7fc7fc75eaf6a5ff" ActionName="Feature" CodeSnippet="Feature: ##Title[f1]## (UI)&#10;##Description[f3]##&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="8e8729ce86a153bb30de12d24cadcb84" ActionName="Feature Tags" CodeSnippet="@ui ##Cucumber: Feature Tags[f100020]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="9130d445489f1afeae338cab76ec5eae" ActionName="Scenario" CodeSnippet="Scenario: ##Path Name[p1]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="967c178a152a831a537fa168010cc6d6" ActionName="Scenario Tags" CodeSnippet="##Cucumber: Scenario Tags[p100021]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="04d248e877091477b61a199064b49b93" ActionName="Step Join" CodeSnippet="&#10;" ExcludeJoinBefore="1" ExcludeJoinAfter="1"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Given</ObjectType>
                    <ObjectActions>
                        <Action guid="40fed849f675a227967bc233a18f6cbe" ActionName="Persona Enters" CodeSnippet="  Given ~persona~ enters '~value~' into ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="2da4172d2402af790321f3ae8ca1681c" ActionName="Persona Is" CodeSnippet="  Given ~persona~ is ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Target</ObjectType>
                    <ObjectActions>
                        <Action guid="adf84904a4619b7aaf21c65e42e71f01" ActionName="Account Credentials Expired" CodeSnippet="an account with expired credentials" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="50861d0706338b29ce7b59941dfbca88" ActionName="Account Disabled" CodeSnippet="a disabled account" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="f6a678a984b31ca214aba6bd581f6b2c" ActionName="Account Expired" CodeSnippet="an expired account" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="15f1d1739686c57c172a37525bac6846" ActionName="Account Locked" CodeSnippet="a locked account" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="26dec2edb406201f509092dabe3a4b7d" ActionName="At the Page" CodeSnippet="at the ~page~ page" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="b2d6b29e66cba4f4485431cee9408a3a" ActionName="Button" CodeSnippet="the ~button~ button" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="2f8029ee343dd9a365ff9a956446aff5" ActionName="Checkbox" CodeSnippet="the ~checkbox~ checkbox" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="1735906797f228b341e847e8c8d63155" ActionName="Column" CodeSnippet="the ~column~ column" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="f09d9d9e0565177d53c8be1e7b55b7b2" ActionName="Field Contains Value" CodeSnippet="~field~ contains ~value~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="540f99fe172c2f9912f769b0f75e8ba5" ActionName="Input Field" CodeSnippet="the ~inputField~ field" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="aa242cfc368fe88e181cdf46d25744a6" ActionName="Is Not Present" CodeSnippet="the ~value~ is not present" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="6a53af33e838cbb4cc7f984786d86a3d" ActionName="Is Present" CodeSnippet="the ~value~ is present" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="2c25b819b7ac4eb4a6c91c3c894a75c0" ActionName="Key" CodeSnippet="the ~key~ key" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="5801d1261a46fb063e72e38c6534edfa" ActionName="Logged In" CodeSnippet="logged into the application with ~email address~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="769060e389ab48210cf175c091303a21" ActionName="Menu" CodeSnippet="the ~menu~ menu" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="0e3a0fc89b56bf8e88ef4a709593e4ed" ActionName="Menu Option" CodeSnippet="the ~menu~ menu option" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="9876256cbaadd7c44aa3db13f90883b8" ActionName="New Customer" CodeSnippet="a new customer" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="9cdc59286d48174caab6be2115f48007" ActionName="Page" CodeSnippet="the ~page~ page" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="92d605932c90f99e51b05c13a1d26175" ActionName="Partial Text" CodeSnippet="partial text as '~value~'" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="f2f9b0368f3df431a5183e71f538b067" ActionName="Presented" CodeSnippet="presented with a ~value~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="55a0f289fe86a09d3f46eac2a99ee368" ActionName="Radio Button" CodeSnippet="the ~radioButton~ radio button" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="317133f30214755c78d3da8f257d74fe" ActionName="Registered User" CodeSnippet="a registered user with email address ~email address~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="f0e4fb1c115efbd3e647843ff25df991" ActionName="Screenshot" CodeSnippet="screenshot" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="3872b27dc4ed9aad131a825ba6a5dcba" ActionName="Table" CodeSnippet="to table with title '~title~'" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Then</ObjectType>
                    <ObjectActions>
                        <Action guid="18ee5e96f7b9343486ca46c677dfc8ad" ActionName="Persona Verifies" CodeSnippet="  Then ~persona~ verifies ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="becb227e67e54ee2cda81d24a391d277" ActionName="Persona Verifies They Are" CodeSnippet="  Then ~persona~ verifies they are ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>When</ObjectType>
                    <ObjectActions>
                        <Action guid="d26f602d7aa446cafd07fcacfd369543" ActionName="Persona Clicks" CodeSnippet="  When ~persona~ clicks ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="5f24c9032d1744e5e67904d629fa5e35" ActionName="Persona Enters" CodeSnippet="  When ~persona~ enters '~value~' into ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="ce8cba99fd45e2c905d1e7e3a6befc35" ActionName="Persona Navigates" CodeSnippet="  When ~persona~ navigates to ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="a7fea95741c9aa0fd2880d6bfbfb08cb" ActionName="Persona Selects" CodeSnippet="  When ~persona~ selects '~value~' from ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
            </Objects>
            <PreviewDetails>
                <RunFileLocation></RunFileLocation>
                <EditLanguage>3</EditLanguage>
                <EditTheme>6</EditTheme>
                <EditorType>0</EditorType>
                <FromFileStructure>False</FromFileStructure>
                <MapFromBlockAttributes/>
            </PreviewDetails>
            <ExportSettings>
                <ScriptType>0</ScriptType>
                <FileConfiguration>43</FileConfiguration>
                <UTFByteOrderMark>0</UTFByteOrderMark>
                <ScriptTypeSettings scriptType="0">
                    <IndividualSettings fileExtension="" fileNameVariable="" fileNamingSystem="3" filePrefix=""/>
                    <MergedSettings fileExtension="feature" fileNameVariable="" fileNamingSystem="2" filePrefix=""/>
                </ScriptTypeSettings>
                <PreviewHeaderFooter Legacy="For forwards compatibility with ARD2.7 and older">
                    <Header>
                        <Automation SectionsEnabled="true" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                            <ObjectName></ObjectName>
                            <LayerId>283989b932bf4d4494e4b306328c5e80</LayerId>
                            <ObjectType>Framework</ObjectType>
                            <ActionName>Feature Tags</ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Header>
                    <Footer>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Footer>
                    <Join>
                        <Automation SectionsEnabled="true" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                            <ObjectName></ObjectName>
                            <LayerId>283989b932bf4d4494e4b306328c5e80</LayerId>
                            <ObjectType>Framework</ObjectType>
                            <ActionName>Step Join</ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Join>
                    <BlockHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </BlockHeader>
                    <BlockFooter/>
                    <StepJoin>
                        <Automation SectionsEnabled="true" linkedSections="e71d7c88df6944888a4e2c08a01fba9e;Given">
                            <ObjectName></ObjectName>
                            <LayerId>283989b932bf4d4494e4b306328c5e80</LayerId>
                            <ObjectType>Framework</ObjectType>
                            <ActionName>Step Join</ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </StepJoin>
                    <PathHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathHeader>
                    <PathFooter>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathFooter>
                </PreviewHeaderFooter>
                <ContainerData guid="28d08801f19d45beb67dac1d563b52f2" xmlVersion="1.0" overrideSectionStepJoin="1">
                    <FlowHeader>
                        <AutomationStep guid="e6ad2477999a4fe7a616f4b070e004db" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Feature Tags" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                            <Repeater guid="1d29f2b2141a40299fca1a336e64b2a3" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                        <AutomationStep guid="0a56c5449a5740c5927c865fb042e669" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                            <Repeater guid="35e795178d0b403cac6a96b1b921e4e0" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                        <AutomationStep guid="a5459c59d89b4f03843a1338efc081f2" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Feature" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="e71d7c88df6944888a4e2c08a01fba9e;Given">
                            <Repeater guid="b7a22fe0cd42477e955f2487d1bee290" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                        <AutomationStep guid="b3517d984a8b4e098c8f9aafdadc6455" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                            <Repeater guid="260f50f1cc3f4976817dae8cb7596aaa" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </FlowHeader>
                    <FlowFooter/>
                    <BlockFooter/>
                    <BlockHeader/>
                    <PathHeader/>
                    <PathFooter/>
                    <PathJoin>
                        <AutomationStep guid="ac84c606319046f8a94a3e993974d900" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                            <Repeater guid="05a8a51e8c024926b19059d5a14570a8" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </PathJoin>
                    <StepJoin>
                        <AutomationStep guid="be2e885467a54ac8b9e16a559666b9c0" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="e71d7c88df6944888a4e2c08a01fba9e;Given">
                            <Repeater guid="76262d873d5240e482c4ed15c1ef2181" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </StepJoin>
                </ContainerData>
                <AutomationSectionModel guid="d16421a0fbe04c8cc6550e5da2cadf67" xmlVersion="1.0">
                    <AutomationSectionModelItem guid="33bc7e404edcdbb1f0fd4cba985739ab" xmlVersion="1.0">
                        <AutomationSection guid="eee420ba735845659e164b1cae3ea182" xmlVersion="1.0" name="HiddenRoot" description="" defaultSelected="0" referencedRedundantSections="">
                            <Steps>
                                <InsertedSteps/>
                                <SectionHeader/>
                                <SectionFooter/>
                                <SectionJoin/>
                                <StepHeader/>
                                <StepFooter/>
                                <StepJoin/>
                            </Steps>
                        </AutomationSection>
                        <ChildItems>
                            <AutomationSectionModelItem guid="38bb3e5a0ed816bd5458cb096852b58e" xmlVersion="1.0">
                                <AutomationSection guid="00000000000000000000000000000000" xmlVersion="1.0" name="Scenario" description="Scenario To Test" defaultSelected="0" referencedRedundantSections="4346d62b120444ca8d4f3758f5f33faf;When,4e4386b68ca44045aee10ce1dcf0b0f8;Given And,95abb97d5400496480e2e6309085e4f8;Spacing">
                                    <Steps>
                                        <InsertedSteps/>
                                        <SectionHeader>
                                            <AutomationStep guid="95187edc637842fcae2bf448e29f5eb1" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                <Repeater guid="943d284d8a7b42ea861cb834b955756c" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                            <AutomationStep guid="86098bc9e4a542c4b5d4a51f7fd1e94f" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Scenario Tags" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                <Repeater guid="8c74ef0b4a87417290b45ad89b8f7cea" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                            <AutomationStep guid="fc9e8851e3344200b6ce5a362a4d1d66" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Scenario" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="e71d7c88df6944888a4e2c08a01fba9e;Given">
                                                <Repeater guid="9f312ccaeee1440192a81f86af56fa7e" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                        </SectionHeader>
                                        <SectionFooter/>
                                        <SectionJoin/>
                                        <StepHeader/>
                                        <StepFooter/>
                                        <StepJoin/>
                                    </Steps>
                                </AutomationSection>
                                <ChildItems>
                                    <AutomationSectionModelItem guid="d6d55e7c1987352f4266f61ed08a0b79" xmlVersion="1.0">
                                        <AutomationSection guid="e71d7c88df6944888a4e2c08a01fba9e" xmlVersion="1.0" name="Given" description="Given Criteria" defaultSelected="0" referencedRedundantSections="">
                                            <Steps>
                                                <InsertedSteps/>
                                                <SectionHeader/>
                                                <SectionFooter/>
                                                <SectionJoin/>
                                                <StepHeader/>
                                                <StepFooter/>
                                                <StepJoin>
                                                    <AutomationStep guid="ca9995bed1974e4bbf8c83f1db8dee34" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="9b00cdf91b1a4c2c837f056d5bffddb8" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </StepJoin>
                                            </Steps>
                                        </AutomationSection>
                                        <ChildItems>
                                            <AutomationSectionModelItem guid="48f3fe84484792b1eb31461990fa74ef" xmlVersion="1.0">
                                                <AutomationSection guid="85a0c20df2dd454797ba358288eeb98c" xmlVersion="1.0" name="And (Given)" description="And Section for Given" defaultSelected="0" referencedRedundantSections="">
                                                    <Steps>
                                                        <InsertedSteps/>
                                                        <SectionHeader/>
                                                        <SectionFooter/>
                                                        <SectionJoin/>
                                                        <StepHeader/>
                                                        <StepFooter/>
                                                        <StepJoin>
                                                            <AutomationStep guid="2ef91b60d12b4e60b320aa83cdbb4a0b" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                                <Repeater guid="afe1bcece4be4d74aac08dc6e366cbd6" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </StepJoin>
                                                    </Steps>
                                                </AutomationSection>
                                                <ChildItems/>
                                            </AutomationSectionModelItem>
                                        </ChildItems>
                                    </AutomationSectionModelItem>
                                    <AutomationSectionModelItem guid="0d96ba735c3eadca1be5e63d9ad4ee21" xmlVersion="1.0">
                                        <AutomationSection guid="25ffb4fa9b57471088e236d0dd457688" xmlVersion="1.0" name="When" description="When Actions Occur" defaultSelected="0" referencedRedundantSections="">
                                            <Steps>
                                                <InsertedSteps/>
                                                <SectionHeader>
                                                    <AutomationStep guid="f2ba3d36786f4ccfab002f60e9e59205" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="1548ddfd049e45238c75a12d3d00a86d" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </SectionHeader>
                                                <SectionFooter/>
                                                <SectionJoin/>
                                                <StepHeader/>
                                                <StepFooter/>
                                                <StepJoin>
                                                    <AutomationStep guid="7ab33ef83ae24c9493b041780d8f2161" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="e0fc05af04364d9391b93f0568f61524" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </StepJoin>
                                            </Steps>
                                        </AutomationSection>
                                        <ChildItems>
                                            <AutomationSectionModelItem guid="3f86f7101238d04b089d91455febb350" xmlVersion="1.0">
                                                <AutomationSection guid="381f8c670f1240ed9a98d46d895c4187" xmlVersion="1.0" name="And (When)" description="And Section for When" defaultSelected="1" referencedRedundantSections="">
                                                    <Steps>
                                                        <InsertedSteps/>
                                                        <SectionHeader/>
                                                        <SectionFooter/>
                                                        <SectionJoin/>
                                                        <StepHeader/>
                                                        <StepFooter/>
                                                        <StepJoin>
                                                            <AutomationStep guid="9f225d25603b4fad8701b903bfaa8cfe" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                                <Repeater guid="9f8b43ca0eb4485687b830f2988b16cc" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </StepJoin>
                                                    </Steps>
                                                </AutomationSection>
                                                <ChildItems/>
                                            </AutomationSectionModelItem>
                                        </ChildItems>
                                    </AutomationSectionModelItem>
                                    <AutomationSectionModelItem guid="cca1209427b26203430dd2338f9ce876" xmlVersion="1.0">
                                        <AutomationSection guid="c40058ac474e4370a5c9a5e481dc8441" xmlVersion="1.0" name="Then" description="Then Results Expected" defaultSelected="0" referencedRedundantSections="">
                                            <Steps>
                                                <InsertedSteps/>
                                                <SectionHeader>
                                                    <AutomationStep guid="789e6e4f1385424bb27f3aea39df7689" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="8a952dbc76694c65bb9780cc3347d371" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </SectionHeader>
                                                <SectionFooter/>
                                                <SectionJoin/>
                                                <StepHeader/>
                                                <StepFooter/>
                                                <StepJoin>
                                                    <AutomationStep guid="fcd7ac5ed91e4507bf53e3f578b8b8e8" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="29819c1cb8494ce594e9591b3a556f3b" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </StepJoin>
                                            </Steps>
                                        </AutomationSection>
                                        <ChildItems>
                                            <AutomationSectionModelItem guid="088244ee8035e4c95bb66407e72c0cea" xmlVersion="1.0">
                                                <AutomationSection guid="e28b1755453d4565bed87ebf283cf543" xmlVersion="1.0" name="And (Then)" description="And Section for Then" defaultSelected="0" referencedRedundantSections="">
                                                    <Steps>
                                                        <InsertedSteps/>
                                                        <SectionHeader/>
                                                        <SectionFooter/>
                                                        <SectionJoin/>
                                                        <StepHeader/>
                                                        <StepFooter/>
                                                        <StepJoin>
                                                            <AutomationStep guid="9c971758b3ee4b30a1228e2349957353" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                                <Repeater guid="e4d94ab35c184cd78b6f5210bd738ef9" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </StepJoin>
                                                    </Steps>
                                                </AutomationSection>
                                                <ChildItems/>
                                            </AutomationSectionModelItem>
                                        </ChildItems>
                                    </AutomationSectionModelItem>
                                </ChildItems>
                            </AutomationSectionModelItem>
                        </ChildItems>
                    </AutomationSectionModelItem>
                </AutomationSectionModel>
            </ExportSettings>
            <LayerVariables/>
        </AutomationLayer>
    </AutomationLayers>
</AutomationConfiguration>
