<?xml version="1.0" encoding="UTF-8"?>
<AutomationConfiguration>
    <AutomationLayers>
        <AutomationLayer>
            <Guid>283989b932bf4d4494e4b306328c5e80</Guid>
            <Name>UI</Name>
            <Objects>
                <Object>
                    <ObjectType>And</ObjectType>
                    <ObjectActions>
                        <Action guid="76327146013bff5d81948e92c3f505a4" ActionName="They Are" CodeSnippet="  And they are ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="a7089e5883d979f5c1cc5ae91c3707c3" ActionName="They Attempt" CodeSnippet="  And they attempt ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="9713bb87566f954ee35e6a830a94ffd7" ActionName="They Click" CodeSnippet="  And they click ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="aeec4f3ef235dbbf80f035e705943447" ActionName="They Enter" CodeSnippet="  And they enter '~value~' into ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="63eaf4e2fee2c3d0100c448e95af50ab" ActionName="They Have" CodeSnippet="  And they have ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="6f96102db3fec41a1a091f0f324ee97c" ActionName="They Navigate" CodeSnippet="  And they navigate to ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="0a973c66d9e17704088f2eb263084821" ActionName="They Select" CodeSnippet="  And they select '~value~' from ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="ec35d035b82434266007094fa1651542" ActionName="They Submit Request" CodeSnippet="  And they submit the ~type~ request" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="6d287313f83ea3e8bbf8181f75deb848" ActionName="They Take" CodeSnippet="  And they take ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="24c9af76f0a72cc371ebe2a954eac8ba" ActionName="They Verify" CodeSnippet="  And they verify ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="9b9fcae95af8565e3a460086c911bf00" ActionName="They Verify They Are" CodeSnippet="  And they verify they are ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Framework</ObjectType>
                    <ObjectActions>
                        <Action guid="74fb10d80f1f8175647af82561a22d7a" ActionName="Feature" CodeSnippet="Feature: ##Title[f1]## (UI)&#10;##Description[f3]##&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="f7714b655ae59101f541d1e9941bb58d" ActionName="Feature Tags" CodeSnippet="@ui ##Cucumber: Feature Tags[f100020]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="283c65f1f793424d6982efee4caf2284" ActionName="Scenario" CodeSnippet="Scenario: ##Path Name[p1]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="81a518036c901ea258d4c8be11c7fee8" ActionName="Scenario Tags" CodeSnippet="##Cucumber: Scenario Tags[p100021]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="9852ca2322758ba72a80e5c16a0aaf30" ActionName="Step Join" CodeSnippet="&#10;" ExcludeJoinBefore="1" ExcludeJoinAfter="1"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Given</ObjectType>
                    <ObjectActions>
                        <Action guid="d35e2d8e91c45bb2b563ebdcdcc2a38d" ActionName="Persona Enters" CodeSnippet="  Given ~persona~ enters '~value~' into ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="f6bcdfc95a3eaeb86f9ac3c5e4570692" ActionName="Persona Is" CodeSnippet="  Given ~persona~ is ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Target</ObjectType>
                    <ObjectActions>
                        <Action guid="d290b9d22511b13d04cdc7073a2cc4d1" ActionName="Account Balance" CodeSnippet="account balance should be '~balance~'" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="8a15e2b0598961bb0ed9e34f798b401b" ActionName="Account Credentials Expired" CodeSnippet="an account with expired credentials" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="7959931444513b5284d6cb62c46d1ac2" ActionName="Account Disabled" CodeSnippet="a disabled account" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="07c144879100b7aaec6cf7c6a47bda5c" ActionName="Account Expired" CodeSnippet="an expired account" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="dbf78c70b60e5d2abfd3dee5910bf853" ActionName="Account Locked" CodeSnippet="a locked account" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="5f62b5671dd4844a74d4f95713c8eb4e" ActionName="Account Not Created" CodeSnippet="the account coould not be created" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="f98a75f55c19e592a5b6e093b1174c96" ActionName="At the Page" CodeSnippet="at the ~page~ page" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="52d82581ec15e88bd8211b11d57283c2" ActionName="Button" CodeSnippet="the ~button~ button" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="e2e36c93458005ac678ef1590570286a" ActionName="Checkbox" CodeSnippet="the ~checkbox~ checkbox" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="2033a4b3fec3c46df8542cf4da9aa3f7" ActionName="Column" CodeSnippet="the ~column~ column" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="9631536a7055ad57e32b1259bb478bef" ActionName="Details from Block Description" CodeSnippet="##Block Description[b1]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="ba73121f44cf27f1d27b3cf0121f49cc" ActionName="Field Contains Value" CodeSnippet="~field~ contains ~value~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="0574594be098cbb33bbd2261957a6506" ActionName="Input Field" CodeSnippet="the ~inputField~ field" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="1fa99095ec38012678785c25aef16734" ActionName="Is Not Present" CodeSnippet="the ~value~ is not present" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="4f8c5e55a22761b13f2541a4b31bd7de" ActionName="Is Present" CodeSnippet="the ~value~ is present" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="2fa41d33b80e72ece95b7a646c411c5c" ActionName="Key" CodeSnippet="the ~key~ key" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="458a5398a8249e5f0d827fff2309b037" ActionName="Logged In" CodeSnippet="logged into the application with ~email address~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="0a9499fbd8315b631522a8dc7efd4916" ActionName="Menu" CodeSnippet="the ~menu~ menu" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="066c57e4e09e429f97b49d84d7652041" ActionName="Menu Option" CodeSnippet="the ~menu~ menu option" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="a16a24ec3ac2cb7c0ccfc67dd407fc71" ActionName="New Customer" CodeSnippet="a new customer" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="82256a6a6d557d81ecdbca21de3d27fd" ActionName="Page" CodeSnippet="the ~page~ page" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="1325aff6e0c0c236cf51f2286c7e277d" ActionName="Partial Text" CodeSnippet="partial text as '~value~'" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="cad27c083c8a20130cd8f6f908539559" ActionName="Presented" CodeSnippet="presented with a ~value~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="30c53929c92b30913dd82e0c4843e91a" ActionName="Radio Button" CodeSnippet="the ~radioButton~ radio button" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="dc658ed13f1c6a47e8ca21d985e69b57" ActionName="Registered User" CodeSnippet="a registered user with email address ~email address~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="283ad286f5e3369d7625690967852369" ActionName="Screenshot" CodeSnippet="screenshot" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="aadc9fb2851b2b1c8f815cf346c618e7" ActionName="Table" CodeSnippet="to table with title '~title~'" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="dca46bfc6519b34b7a67932fca24e359" ActionName="To Open a New" CodeSnippet="to open a new '~name~'" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Then</ObjectType>
                    <ObjectActions>
                        <Action guid="5be4029b279cb78a4a8edd6e6f202bfa" ActionName="Persona Verifies" CodeSnippet="  Then ~persona~ verifies ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="986cdef0fa2033a91ecfdf8291dfa819" ActionName="Persona Verifies They Are" CodeSnippet="  Then ~persona~ verifies they are ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>When</ObjectType>
                    <ObjectActions>
                        <Action guid="b874fc4d1a477a72074618f72cf7abac" ActionName="Persona Clicks" CodeSnippet="  When ~persona~ clicks ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="8a234f4557da550b2b7c5d6984604100" ActionName="Persona Enters" CodeSnippet="  When ~persona~ enters '~value~' into ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="93702ac47dcb49dcba926fa6f96c35d0" ActionName="Persona Navigates" CodeSnippet="  When ~persona~ navigates to ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="4b13f540e394ee4e3d33a514f3941f85" ActionName="Persona Selects" CodeSnippet="  When ~persona~ selects '~value~' from ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
            </Objects>
            <PreviewDetails>
                <RunFileLocation></RunFileLocation>
                <EditLanguage>3</EditLanguage>
                <EditTheme>6</EditTheme>
                <EditorType>0</EditorType>
                <FromFileStructure>False</FromFileStructure>
                <MapFromBlockAttributes/>
            </PreviewDetails>
            <ExportSettings>
                <ScriptType>0</ScriptType>
                <FileConfiguration>43</FileConfiguration>
                <UTFByteOrderMark>0</UTFByteOrderMark>
                <ScriptTypeSettings scriptType="0">
                    <IndividualSettings fileExtension="" fileNameVariable="" fileNamingSystem="3" filePrefix=""/>
                    <MergedSettings fileExtension="feature" fileNameVariable="" fileNamingSystem="2" filePrefix=""/>
                </ScriptTypeSettings>
                <PreviewHeaderFooter Legacy="For forwards compatibility with ARD2.7 and older">
                    <Header>
                        <Automation SectionsEnabled="true" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                            <ObjectName></ObjectName>
                            <LayerId>283989b932bf4d4494e4b306328c5e80</LayerId>
                            <ObjectType>Framework</ObjectType>
                            <ActionName>Feature Tags</ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Header>
                    <Footer>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Footer>
                    <Join>
                        <Automation SectionsEnabled="true" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                            <ObjectName></ObjectName>
                            <LayerId>283989b932bf4d4494e4b306328c5e80</LayerId>
                            <ObjectType>Framework</ObjectType>
                            <ActionName>Step Join</ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Join>
                    <BlockHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </BlockHeader>
                    <BlockFooter/>
                    <StepJoin>
                        <Automation SectionsEnabled="true" linkedSections="e71d7c88df6944888a4e2c08a01fba9e;Given">
                            <ObjectName></ObjectName>
                            <LayerId>283989b932bf4d4494e4b306328c5e80</LayerId>
                            <ObjectType>Framework</ObjectType>
                            <ActionName>Step Join</ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </StepJoin>
                    <PathHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathHeader>
                    <PathFooter>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathFooter>
                </PreviewHeaderFooter>
                <ContainerData guid="28d08801f19d45beb67dac1d563b52f2" xmlVersion="1.0" overrideSectionStepJoin="1">
                    <FlowHeader>
                        <AutomationStep guid="e6ad2477999a4fe7a616f4b070e004db" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Feature Tags" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                            <Repeater guid="1d29f2b2141a40299fca1a336e64b2a3" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                        <AutomationStep guid="0a56c5449a5740c5927c865fb042e669" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                            <Repeater guid="35e795178d0b403cac6a96b1b921e4e0" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                        <AutomationStep guid="a5459c59d89b4f03843a1338efc081f2" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Feature" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="e71d7c88df6944888a4e2c08a01fba9e;Given">
                            <Repeater guid="b7a22fe0cd42477e955f2487d1bee290" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                        <AutomationStep guid="b3517d984a8b4e098c8f9aafdadc6455" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                            <Repeater guid="260f50f1cc3f4976817dae8cb7596aaa" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </FlowHeader>
                    <FlowFooter/>
                    <BlockFooter/>
                    <BlockHeader/>
                    <PathHeader/>
                    <PathFooter/>
                    <PathJoin>
                        <AutomationStep guid="ac84c606319046f8a94a3e993974d900" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                            <Repeater guid="05a8a51e8c024926b19059d5a14570a8" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </PathJoin>
                    <StepJoin>
                        <AutomationStep guid="be2e885467a54ac8b9e16a559666b9c0" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="e71d7c88df6944888a4e2c08a01fba9e;Given">
                            <Repeater guid="76262d873d5240e482c4ed15c1ef2181" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </StepJoin>
                </ContainerData>
                <AutomationSectionModel guid="49b7b5fafc2cf0b411a230b344b04da9" xmlVersion="1.0">
                    <AutomationSectionModelItem guid="972030783d008a5a9292aeab907b831a" xmlVersion="1.0">
                        <AutomationSection guid="eee420ba735845659e164b1cae3ea182" xmlVersion="1.0" name="HiddenRoot" description="" defaultSelected="0" referencedRedundantSections="">
                            <Steps>
                                <InsertedSteps/>
                                <SectionHeader/>
                                <SectionFooter/>
                                <SectionJoin/>
                                <StepHeader/>
                                <StepFooter/>
                                <StepJoin/>
                            </Steps>
                        </AutomationSection>
                        <ChildItems>
                            <AutomationSectionModelItem guid="2fb335af815e64a88a0c4572d733b0bb" xmlVersion="1.0">
                                <AutomationSection guid="00000000000000000000000000000000" xmlVersion="1.0" name="Scenario" description="Scenario To Test" defaultSelected="0" referencedRedundantSections="4346d62b120444ca8d4f3758f5f33faf;When,4e4386b68ca44045aee10ce1dcf0b0f8;Given And,95abb97d5400496480e2e6309085e4f8;Spacing">
                                    <Steps>
                                        <InsertedSteps/>
                                        <SectionHeader>
                                            <AutomationStep guid="95187edc637842fcae2bf448e29f5eb1" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                <Repeater guid="943d284d8a7b42ea861cb834b955756c" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                            <AutomationStep guid="86098bc9e4a542c4b5d4a51f7fd1e94f" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Scenario Tags" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                <Repeater guid="8c74ef0b4a87417290b45ad89b8f7cea" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                            <AutomationStep guid="fc9e8851e3344200b6ce5a362a4d1d66" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Scenario" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="e71d7c88df6944888a4e2c08a01fba9e;Given">
                                                <Repeater guid="9f312ccaeee1440192a81f86af56fa7e" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                        </SectionHeader>
                                        <SectionFooter/>
                                        <SectionJoin/>
                                        <StepHeader/>
                                        <StepFooter/>
                                        <StepJoin/>
                                    </Steps>
                                </AutomationSection>
                                <ChildItems>
                                    <AutomationSectionModelItem guid="c678d6197af9b381c2b1c8738d63fe9f" xmlVersion="1.0">
                                        <AutomationSection guid="e71d7c88df6944888a4e2c08a01fba9e" xmlVersion="1.0" name="Given" description="Given Criteria" defaultSelected="0" referencedRedundantSections="">
                                            <Steps>
                                                <InsertedSteps/>
                                                <SectionHeader>
                                                    <AutomationStep guid="cf352091df212481a2f68f80d53df74f" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="a9dd6d32fee38eb7da0c52fb2aada09f" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </SectionHeader>
                                                <SectionFooter/>
                                                <SectionJoin/>
                                                <StepHeader/>
                                                <StepFooter/>
                                                <StepJoin>
                                                    <AutomationStep guid="ca9995bed1974e4bbf8c83f1db8dee34" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="9b00cdf91b1a4c2c837f056d5bffddb8" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </StepJoin>
                                            </Steps>
                                        </AutomationSection>
                                        <ChildItems>
                                            <AutomationSectionModelItem guid="10a8fa704cb0af37ceaf202b341c63ea" xmlVersion="1.0">
                                                <AutomationSection guid="85a0c20df2dd454797ba358288eeb98c" xmlVersion="1.0" name="And (Given)" description="And Section for Given" defaultSelected="0" referencedRedundantSections="">
                                                    <Steps>
                                                        <InsertedSteps/>
                                                        <SectionHeader>
                                                            <AutomationStep guid="479399d51607d3b7964763b786071177" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                                <Repeater guid="f711cc5c0aa013c2a4321d08a15da0ae" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </SectionHeader>
                                                        <SectionFooter/>
                                                        <SectionJoin/>
                                                        <StepHeader/>
                                                        <StepFooter/>
                                                        <StepJoin>
                                                            <AutomationStep guid="2ef91b60d12b4e60b320aa83cdbb4a0b" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                                <Repeater guid="afe1bcece4be4d74aac08dc6e366cbd6" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </StepJoin>
                                                    </Steps>
                                                </AutomationSection>
                                                <ChildItems/>
                                            </AutomationSectionModelItem>
                                        </ChildItems>
                                    </AutomationSectionModelItem>
                                    <AutomationSectionModelItem guid="786d2b7c3bfba983c713a477095af4ca" xmlVersion="1.0">
                                        <AutomationSection guid="25ffb4fa9b57471088e236d0dd457688" xmlVersion="1.0" name="When" description="When Actions Occur" defaultSelected="0" referencedRedundantSections="">
                                            <Steps>
                                                <InsertedSteps/>
                                                <SectionHeader/>
                                                <SectionFooter/>
                                                <SectionJoin/>
                                                <StepHeader/>
                                                <StepFooter/>
                                                <StepJoin>
                                                    <AutomationStep guid="7ab33ef83ae24c9493b041780d8f2161" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="e0fc05af04364d9391b93f0568f61524" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </StepJoin>
                                            </Steps>
                                        </AutomationSection>
                                        <ChildItems>
                                            <AutomationSectionModelItem guid="fcc769fd27dbb063ed2b2649db2d823f" xmlVersion="1.0">
                                                <AutomationSection guid="381f8c670f1240ed9a98d46d895c4187" xmlVersion="1.0" name="And (When)" description="And Section for When" defaultSelected="1" referencedRedundantSections="">
                                                    <Steps>
                                                        <InsertedSteps/>
                                                        <SectionHeader>
                                                            <AutomationStep guid="646eb77cfeab6fc97e088178b118242a" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                                <Repeater guid="3fe868e85f28a2cc8f90911c8bc70a8a" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </SectionHeader>
                                                        <SectionFooter/>
                                                        <SectionJoin/>
                                                        <StepHeader/>
                                                        <StepFooter/>
                                                        <StepJoin>
                                                            <AutomationStep guid="9f225d25603b4fad8701b903bfaa8cfe" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                                <Repeater guid="9f8b43ca0eb4485687b830f2988b16cc" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </StepJoin>
                                                    </Steps>
                                                </AutomationSection>
                                                <ChildItems/>
                                            </AutomationSectionModelItem>
                                        </ChildItems>
                                    </AutomationSectionModelItem>
                                    <AutomationSectionModelItem guid="7da6b4032041d4d80fb9b4bfc9852e49" xmlVersion="1.0">
                                        <AutomationSection guid="c40058ac474e4370a5c9a5e481dc8441" xmlVersion="1.0" name="Then" description="Then Results Expected" defaultSelected="0" referencedRedundantSections="">
                                            <Steps>
                                                <InsertedSteps/>
                                                <SectionHeader>
                                                    <AutomationStep guid="789e6e4f1385424bb27f3aea39df7689" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="8a952dbc76694c65bb9780cc3347d371" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </SectionHeader>
                                                <SectionFooter/>
                                                <SectionJoin/>
                                                <StepHeader/>
                                                <StepFooter/>
                                                <StepJoin>
                                                    <AutomationStep guid="fcd7ac5ed91e4507bf53e3f578b8b8e8" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="29819c1cb8494ce594e9591b3a556f3b" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </StepJoin>
                                            </Steps>
                                        </AutomationSection>
                                        <ChildItems>
                                            <AutomationSectionModelItem guid="0b1a1cbe464b04d23fec50abb572d6d7" xmlVersion="1.0">
                                                <AutomationSection guid="e28b1755453d4565bed87ebf283cf543" xmlVersion="1.0" name="And (Then)" description="And Section for Then" defaultSelected="0" referencedRedundantSections="">
                                                    <Steps>
                                                        <InsertedSteps/>
                                                        <SectionHeader>
                                                            <AutomationStep guid="f18d3e42c0e41b9e32d3b83f15f0fbd5" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                                <Repeater guid="f4cf6f5455bb30d6c94c9940fd266f52" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </SectionHeader>
                                                        <SectionFooter/>
                                                        <SectionJoin/>
                                                        <StepHeader/>
                                                        <StepFooter/>
                                                        <StepJoin>
                                                            <AutomationStep guid="9c971758b3ee4b30a1228e2349957353" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                                <Repeater guid="e4d94ab35c184cd78b6f5210bd738ef9" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </StepJoin>
                                                    </Steps>
                                                </AutomationSection>
                                                <ChildItems/>
                                            </AutomationSectionModelItem>
                                        </ChildItems>
                                    </AutomationSectionModelItem>
                                </ChildItems>
                            </AutomationSectionModelItem>
                        </ChildItems>
                    </AutomationSectionModelItem>
                </AutomationSectionModel>
            </ExportSettings>
            <LayerVariables/>
        </AutomationLayer>
    </AutomationLayers>
</AutomationConfiguration>
