<?xml version="1.0" encoding="UTF-8"?>
<AutomationConfiguration>
    <AutomationLayers>
        <AutomationLayer>
            <Guid>dac50e595f864df9a4c3ce0ea68895fd</Guid>
            <Name>Gherkin</Name>
            <Objects>
                <Object>
                    <ObjectType>And</ObjectType>
                    <ObjectActions>
                        <Action guid="85fd1d00bb572abb353ae942dcd04ed9" ActionName="And - Block Desc" CodeSnippet="   And ##Block Description[b1]##&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="af787109e0b7df712571082038c4105c" ActionName="And - Click - Block Desc" CodeSnippet="   And then click ##Block Description[b1]##&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="181e0e7e16e24f53b81794cdcac8df20" ActionName="And - Create New Savings Account" CodeSnippet="   And they attempt to open a new Savings Account&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="68453be5b54011ba67921490293436cc" ActionName="And - Enter Text" CodeSnippet="   And enter '~value~' as ##Block Name (Test Step)[b0]##&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="08a690b7567b9e2faa6af013adbf9aba" ActionName="And - Enter Text - Block Desc" CodeSnippet="   And enter '~value~' as ##Block Description[b1]##&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="8ea8958c70d97c38f729c0ccffb27570" ActionName="And - Initial Deposit Verification" CodeSnippet="   And the account balance should match the initial deposit of '~initDepost~'&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="55c5c3bc8b04055df845fd2576b67e87" ActionName="And - Radio Selection" CodeSnippet="   And select '~selection~' for ##Block Name (Test Step)[b0]##&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="0283a1ef0072f0f8f4581eb4aa20ed67" ActionName="And - Statement" CodeSnippet="   And ~statement~&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Given</ObjectType>
                    <ObjectActions>
                        <Action guid="f3f54d0d85199e0b6efe0d764aae7fa2" ActionName="Given - Login" CodeSnippet="  Given 'Valid User' is logged into the application&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="36992c0885435054bc91eb9aa6a092fc" ActionName="Given - Statement" CodeSnippet="  Given ~statement~&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Headers</ObjectType>
                    <ObjectActions>
                        <Action guid="bb3e435e5ae9344d3202ccfd1fb4d194" ActionName="Feature" CodeSnippet="@ui, @savings&#10;Feature: ##Title[f1]##&#10;##Description[f3]##&#10;&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="fd4f8baa3e5655dc5acfdf3d1bb60fe0" ActionName="Scenario" CodeSnippet=" ~scenario_tags~&#10; Scenario: ##Path Name[p1]##&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Then</ObjectType>
                    <ObjectActions>
                        <Action guid="15372b19630b6ebaec0bb2316b410ce5" ActionName="Then - Result" CodeSnippet="  Then ##Block Description[b1]##&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="ec2e743da43366f8566982059fcbddac" ActionName="Then - Statement" CodeSnippet="  Then ~statement~&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>When</ObjectType>
                    <ObjectActions>
                        <Action guid="89587fd538e8a5aaf46067abb7dc880d" ActionName="When - Acct Name" CodeSnippet="  When they enter a ##Output Description[b8002]## ##Block Name (Test Step)[b0]## as '~accountName~'&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="6ead404a6d630c2e38e86c8b9b6563b7" ActionName="When - Enter Text" CodeSnippet="  When they enter '~value~' as ##Block Name (Test Step)[b0]##&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="a31a2a39929b1eaf0fdedd1bb4ee5db1" ActionName="When - Statement" CodeSnippet="  When ~statement~&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
            </Objects>
            <PreviewDetails>
                <RunFileLocation></RunFileLocation>
                <EditLanguage>3</EditLanguage>
                <EditTheme>6</EditTheme>
                <EditorType>0</EditorType>
                <FromFileStructure>False</FromFileStructure>
                <MapFromBlockAttributes/>
            </PreviewDetails>
            <ExportSettings>
                <ScriptType>0</ScriptType>
                <FileConfiguration>43</FileConfiguration>
                <UTFByteOrderMark>0</UTFByteOrderMark>
                <ScriptTypeSettings scriptType="0">
                    <IndividualSettings fileExtension="" fileNameVariable="" fileNamingSystem="3" filePrefix=""/>
                    <MergedSettings fileExtension="feature" fileNameVariable="" fileNamingSystem="2" filePrefix=""/>
                </ScriptTypeSettings>
                <PreviewHeaderFooter Legacy="For forwards compatibility with ARD2.7 and older">
                    <Header>
                        <Automation SectionsEnabled="true" linkedSections="00000000000000000000000000000000;Root">
                            <ObjectName></ObjectName>
                            <LayerId>dac50e595f864df9a4c3ce0ea68895fd</LayerId>
                            <ObjectType>Headers</ObjectType>
                            <ActionName>Feature</ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Header>
                    <Footer>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Footer>
                    <Join>
                        <Automation SectionsEnabled="true" linkedSections="00000000000000000000000000000000;Root">
                            <ObjectName></ObjectName>
                            <LayerId>dac50e595f864df9a4c3ce0ea68895fd</LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString>
</OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Join>
                    <BlockHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </BlockHeader>
                    <BlockFooter/>
                    <StepJoin>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </StepJoin>
                    <PathHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathHeader>
                    <PathFooter>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathFooter>
                </PreviewHeaderFooter>
                <ContainerData guid="d0b7596042a04065b874335cd5f1f9c3" xmlVersion="1.0" overrideSectionStepJoin="0">
                    <FlowHeader>
                        <AutomationStep guid="b0f3efc2f69d4d59add85d8899415956" xmlVersion="1.0" objectName="" layerId="dac50e595f864df9a4c3ce0ea68895fd" objectType="Headers" actionName="Feature" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Root">
                            <Repeater guid="d5d50af796fb453484c8f777effb032f" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </FlowHeader>
                    <FlowFooter/>
                    <BlockFooter/>
                    <BlockHeader/>
                    <PathHeader/>
                    <PathFooter/>
                    <PathJoin>
                        <AutomationStep guid="08b79a8789f649b9827c5dcec11713b0" xmlVersion="1.0" objectName="" layerId="dac50e595f864df9a4c3ce0ea68895fd" objectType="" actionName="" overrideString="&#10;" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Root">
                            <Repeater guid="472522f9da4d4b2dadc0bc70b8cde24d" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </PathJoin>
                    <StepJoin/>
                </ContainerData>
                <AutomationSectionModel guid="f04ea45d53614bce997b9b27cbb9e66a" xmlVersion="1.0">
                    <AutomationSectionModelItem guid="4f6a228932224a6e91447d333fceb8d7" xmlVersion="1.0">
                        <AutomationSection guid="1d585799102d47caa05d285597e4ae10" xmlVersion="1.0" name="HiddenRoot" description="" defaultSelected="0" referencedRedundantSections="">
                            <Steps>
                                <InsertedSteps/>
                                <SectionHeader/>
                                <SectionFooter/>
                                <SectionJoin/>
                                <StepHeader/>
                                <StepFooter/>
                                <StepJoin/>
                            </Steps>
                        </AutomationSection>
                        <ChildItems>
                            <AutomationSectionModelItem guid="e5d0989e74734df0887cbd144e70afa3" xmlVersion="1.0">
                                <AutomationSection guid="00000000000000000000000000000000" xmlVersion="1.0" name="Root" description="" defaultSelected="1" referencedRedundantSections="">
                                    <Steps>
                                        <InsertedSteps/>
                                        <SectionHeader/>
                                        <SectionFooter/>
                                        <SectionJoin/>
                                        <StepHeader/>
                                        <StepFooter/>
                                        <StepJoin/>
                                    </Steps>
                                </AutomationSection>
                                <ChildItems/>
                            </AutomationSectionModelItem>
                        </ChildItems>
                    </AutomationSectionModelItem>
                </AutomationSectionModel>
            </ExportSettings>
            <LayerVariables/>
        </AutomationLayer>
    </AutomationLayers>
</AutomationConfiguration>
